/* GENERAL */
:root {
  --hit-color: #9b1616;
  --miss-color: #27a8a8;
  --water-color: #115f0f;
  --primary-light:  #cfd8d1;
  --secondary-light: #82897f;
  --primary-dark: #1e2d30;
  --secondary-dark: #323c3d;
  --cell-size: 25px;
}

html {
  font-size: 1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primary-dark);
}

body {
  background-color: var(--secondary-light);
  margin: 0;
  color: var(--primary-dark);
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header,
.footer {
  background-color: var(--primary-dark);
  display: flex;
  justify-content: center;
  color: var(--primary-light);
}

.footer {
  margin-top: 20px;
}

h2 {
display: grid;
justify-content: center;
}

.cv_preview {
  display: grid;
  justify-content: center;
}

button {
  border: none;
  color: var(--primary-dark);
  font-size: 1rem;
}

#toggleView {
  padding: 10px;
  margin: 20px;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: var(--miss-color);
  box-shadow: 5px 5px 5px 5px var(--secondary-dark);
  border-radius: 10px;
}

form {
  max-width: 400px;
  background-color: var(--primary-light);
  border: 2px solid var(--primary-dark);
  border-radius: 10px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

form div {
  display: flex;
  flex-direction: column;
}

.remove {
  background-color: var(--hit-color);
  border-radius: 5px;
  margin: 5px;
  color: var(--primary-light);
  /* margin-right: auto; */
}

.add {
  background-color: var(--water-color);
  color: var(--primary-light);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 10px;
}

#general {
  display: grid;
  justify-content: center;
}

label {
  margin: 5px;
}

input {
  border: none;
  border-radius: 5px;
  margin: 0px 5px;
  height: 23px;
}

#phone_number {
  margin-bottom: 5px;
}

#generalCV {
  display: none;
}

#generalCV p {
  margin-left: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.edCV {
  display: none;
}

.praxCV {
  display: none;
}